<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-md="4" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <ion-item>
                <ion-label position="floating">
                  Username
                </ion-label>
                <ion-input ngModel type="text" name="username" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  Password
                </ion-label>
                <ion-input ngModel type="password" minlength="5" name="password" required></ion-input>
              </ion-item>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col offset-md="7" offset-lg="8" offset-xl="10">
                    <ion-button [disabled]="!f.valid" type="submit">
                      Login
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>